*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
}

img {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}