// Primary
$cyan: hsl(179, 62%, 43%);
$light-cyan: hsl(179, 47%, 52%); // Added
$very-light-cyan: hsla(179, 58%, 61%); // Added
$bright-yellow: hsl(71, 73%, 54%);

// Neutral
$white: hsl(0, 0%, 100%); // Added
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);